USE tr_game;
DROP TABLE IF EXISTS `abilities`;
CREATE TABLE `abilities` (
  `ability0item` int(11) NOT NULL DEFAULT '0',
  `ability0level` int(11) NOT NULL DEFAULT '0',
  `ability1item` int(11) NOT NULL DEFAULT '0',
  `ability1level` int(11) NOT NULL DEFAULT '0',
  `ability2item` int(11) NOT NULL DEFAULT '0',
  `ability2level` int(11) NOT NULL DEFAULT '0',
  `ability3item` int(11) NOT NULL DEFAULT '0',
  `ability3level` int(11) NOT NULL DEFAULT '0',
  `ability4item` int(11) NOT NULL DEFAULT '0',
  `ability4level` int(11) NOT NULL DEFAULT '0',
  `ability5item` int(11) NOT NULL DEFAULT '0',
  `ability5level` int(11) NOT NULL DEFAULT '0',
  `ability6item` int(11) NOT NULL DEFAULT '0',
  `ability6level` int(11) NOT NULL DEFAULT '0',
  `ability7item` int(11) NOT NULL DEFAULT '0',
  `ability7level` int(11) NOT NULL DEFAULT '0',
  `ability8item` int(11) NOT NULL DEFAULT '0',
  `ability8level` int(11) NOT NULL DEFAULT '0',
  `ability9item` int(11) NOT NULL DEFAULT '0',
  `ability9level` int(11) NOT NULL DEFAULT '0',
  `ability10item` int(11) NOT NULL DEFAULT '0',
  `ability10level` int(11) NOT NULL DEFAULT '0',
  `ability11item` int(11) NOT NULL DEFAULT '0',
  `ability11level` int(11) NOT NULL DEFAULT '0',
  `ability12item` int(11) NOT NULL DEFAULT '0',
  `ability12level` int(11) NOT NULL DEFAULT '0',
  `ability13item` int(11) NOT NULL DEFAULT '0',
  `ability13level` int(11) NOT NULL DEFAULT '0',
  `ability14item` int(11) NOT NULL DEFAULT '0',
  `ability14level` int(11) NOT NULL DEFAULT '0',
  `ability15item` int(11) NOT NULL DEFAULT '0',
  `ability15level` int(11) NOT NULL DEFAULT '0',
  `ability16item` int(11) NOT NULL DEFAULT '0',
  `ability16level` int(11) NOT NULL DEFAULT '0',
  `ability17item` int(11) NOT NULL DEFAULT '0',
  `ability17level` int(11) NOT NULL DEFAULT '0',
  `ability18item` int(11) NOT NULL DEFAULT '0',
  `ability18level` int(11) NOT NULL DEFAULT '0',
  `ability19item` int(11) NOT NULL DEFAULT '0',
  `ability19level` int(11) NOT NULL DEFAULT '0',
  `ability20item` int(11) NOT NULL DEFAULT '0',
  `ability20level` int(11) NOT NULL DEFAULT '0',
  `ability21item` int(11) NOT NULL DEFAULT '0',
  `ability21level` int(11) NOT NULL DEFAULT '0',
  `ability22item` int(11) NOT NULL DEFAULT '0',
  `ability22level` int(11) NOT NULL DEFAULT '0',
  `ability23item` int(11) NOT NULL DEFAULT '0',
  `ability23level` int(11) NOT NULL DEFAULT '0',
  `ability24item` int(11) NOT NULL DEFAULT '0',
  `ability24level` int(11) NOT NULL DEFAULT '0',
  `currentDrawer` int(11) NOT NULL DEFAULT '1',
  `characterID` int(11) NOT NULL,
  PRIMARY KEY (`characterID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
